In [1]:
#解析生成json的内容
#解析决策过程的日志
import os
import json
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

def parse_decision_log(log_path):
    pass
def paese_result_json(log_path):
    #读取json文件
    res=json.load(open(log_path,"r"))['update']
    #去除掉init_state部分
    static={}

    for r in res:
        actions,states,tick=r['action'],r['state'],r['tick']
        for action in actions:
            if str(action['class']) + '_' + str(action['id']) not in static:
                static[str(action['class']) + '_' + str(action['id'])]={}
            static[str(action['class']) + '_' + str(action['id'])][action['action_type']]=static[str(action['class']) + '_' + str(action['id'])][action['action_type']]+1 if action['action_type'] in static[str(action['class']) + '_' + str(action['id'])] else 1
            if 'damage' not in static[str(action['class']) + '_' + str(action['id'])]:
                static[str(action['class']) + '_' + str(action['id'])]['damage']=[]
            if 'damage' in action:
                for damage in action['damage']:
                    static[str(action['class']) + '_' + str(action['id'])]['damage'].append(damage[1][0])
    for k in static.keys():
        static[k]['总伤害']=sum(static[k]['damage'])
        static[k]['总伤害次数']=len(static[k]['damage'])
        static[k]['平均伤害']=sum(static[k]['damage'])/len(static[k]['damage']) if len(static[k]['damage'])>0 else 0
        if 'RIGHT' not in static[k]:
            static[k]['RIGHT']=0
        if 'LEFT' not in static[k]:
            static[k]['LEFT']=0
        if 'TOP' not in static[k]:
            static[k]['TOP']=0
        if 'BOTTOM' not in static[k]:
            static[k]['BOTTOM']=0
        static[k]['总移动次数']=static[k]['RIGHT']+static[k]['LEFT']+static[k]['TOP']+static[k]['BOTTOM']


        #隐藏具体伤害
        static[k].pop('damage')
        #按照key 排序
        static[k]=dict(sorted(static[k].items(),key=lambda x:x[0]))
    return static

In [8]:
log_files_path = os.getcwd()+"/test_data"
    #读取这个路径下所有文件
log_files = os.listdir(log_files_path)
for log_file in log_files:
    if log_file.endswith(".json"):
        log_path = log_files_path+"/"+log_file
        parse_decision_log(log_path)
        static_res_json=paese_result_json(log_path)
        df=pd.DataFrame(static_res_json).T

        print(log_file)
        display(df)

for_qiangye_skill_95.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,WAIT,平均伤害,总伤害,总伤害次数,总移动次数
monster_18714666,1.0,3.0,3.0,6.0,6.0,7.0,120.946667,725.68,6.0,13.0
hero_5002,6.0,1.0,15.0,NaN,6.0,2.0,0.000000,0.00,0.0,28.0

for_qiangye_skill_83.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,1.0,3.0,3.0,6.0,6.0,130.835,785.01,6.0,13.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000,0.00,0.0,5.0,2.0

for_qiangye_skill_77.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,SKILL_77
monster_18714666,0.0,3.0,5.0,3.0,1.0,114.1,342.3,3.0,9.0,NaN
hero_5002,2.0,3.0,6.0,NaN,2.0,210.0,630.0,3.0,13.0,3.0

for_qiangye_skill_82.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,120.782857,845.48,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

for_qiangye_skill_94.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,120.945714,846.62,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

for_qiangye_skill_89.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,114.1,798.7,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.0,0.0,0.0,5.0,3.0

for_qiangye_skill_93.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,126.977143,888.84,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

for_qiangye_skill_85.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,1.0,3.0,3.0,6.0,6.0,132.926667,797.56,6.0,13.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,2.0

for_qiangye_skill_84.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,114.1,798.7,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.0,0.0,0.0,5.0,3.0

for_qiangye_skill_92.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,117.848571,824.94,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

for_qiangye_skill_88.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,1.0,3.0,3.0,6.0,6.0,128.741667,772.45,6.0,13.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,2.0

for_qiangye_skill_87.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,1.0,3.0,3.0,6.0,6.0,140.343333,842.06,6.0,13.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,2.0

for_qiangye_skill_91.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,118.011429,826.08,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

for_qiangye_skill_90.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,114.1,798.7,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.0,0.0,0.0,5.0,3.0

for_qiangye_skill_86.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,118.827143,831.79,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

for_qiangye_skill_81.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,1.0,3.0,3.0,6.0,6.0,126.08,756.48,6.0,13.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.00,0.00,0.0,5.0,2.0

for_qiangye_skill_96.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,116.055714,812.39,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

for_qiangye_skill_79.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,1.0,3.0,3.0,6.0,6.0,126.84,761.04,6.0,13.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.00,0.00,0.0,5.0,2.0

for_qiangye_skill_80.json

,BOTTOM,LEFT,RIGHT,SKILL_86,TOP,平均伤害,总伤害,总伤害次数,总移动次数,WAIT
monster_18714666,2.0,3.0,4.0,7.0,6.0,118.664286,830.65,7.0,15.0,NaN
hero_5002,0.0,1.0,0.0,NaN,4.0,0.000000,0.00,0.0,5.0,3.0

In [4]:
def parse_result_json_detail(log_path):
    res = json.load(open(log_path, "r"))['update']
    # 去除掉init_state部分
    static = {}
    for r in res:
        actions,states,tick=r['action'],r['state'],r['tick']
        for action in actions:
            print(action)
log_files_path = os.getcwd() + "/test_data"
    # 读取这个路径下所有文件
log_path = log_files_path + "/for_qiangye_skill_"+str(95)+".json"
parse_result_json_detail(log_path)

{'action_type': 'RIGHT', 'move_position': [6, 1, 3], 'id': 18714666, 'class': 'monster'}
{'action_type': 'RIGHT', 'move_position': [7, 1, 3], 'id': 18714666, 'class': 'monster'}
{'action_type': 'SKILL_86', 'atk_range': [[4, 1, 3]], 'atk_position': [4, 1, 3], 'release_range': [[4, 1, 3], [5, 1, 2], [5, 1, 4], [6, 1, 5], [7, 1, 6], [8, 1, 5], [9, 1, 2], [9, 1, 4], [10, 1, 3]], 'damage': [[['hero', 5002], [114.1], [114.1], ['EQU']]], 'id': 18714666, 'class': 'monster'}
{'action_type': 'WAIT', 'id': 5002, 'class': 'hero'}
{'action_type': 'TOP', 'move_position': [7, 1, 4], 'id': 18714666, 'class': 'monster'}
{'action_type': 'LEFT', 'move_position': [6, 1, 4], 'id': 18714666, 'class': 'monster'}
{'action_type': 'SKILL_86', 'atk_range': [[4, 1, 3]], 'atk_position': [4, 1, 3], 'release_range': [[3, 1, 4], [4, 1, 3], [4, 1, 5], [5, 1, 2], [5, 1, 6], [6, 1, 7], [7, 1, 2], [7, 1, 6], [8, 1, 3], [8, 1, 5], [9, 1, 4]], 'damage': [[['hero', 5002], [114.1], [114.1], ['EQU']]], 'id': 18714666, 'class': 'monster'}
{'action_type': 'RIGHT', 'move_position': [7, 1, 4], 'id': 18714666, 'class': 'monster'}
{'action_type': 'BOTTOM', 'move_position': [7, 1, 3], 'id': 18714666, 'class': 'monster'}
{'action_type': 'SKILL_86', 'atk_range': [[4, 1, 3]], 'atk_position': [4, 1, 3], 'release_range': [[4, 1, 3], [5, 1, 2], [5, 1, 4], [6, 1, 5], [7, 1, 6], [8, 1, 5], [9, 1, 2], [9, 1, 4], [10, 1, 3]], 'damage': [[['hero', 5002], [114.1], [114.1], ['EQU']]], 'id': 18714666, 'class': 'monster'}
{'action_type': 'WAIT', 'id': 5002, 'class': 'hero'}
{'action_type': 'TOP', 'move_position': [7, 1, 4], 'id': 18714666, 'class': 'monster'}
{'action_type': 'LEFT', 'move_position': [6, 1, 4], 'id': 18714666, 'class': 'monster'}
{'action_type': 'SKILL_86', 'atk_range': [[4, 1, 3]], 'atk_position': [4, 1, 3], 'release_range': [[3, 1, 4], [4, 1, 3], [4, 1, 5], [5, 1, 2], [5, 1, 6], [6, 1, 7], [7, 1, 2], [7, 1, 6], [8, 1, 3], [8, 1, 5], [9, 1, 4]], 'damage': [[['hero', 5002], [155.18], [155.18], ['EQU']]], 'id': 18714666, 'class': 'monster'}
{'action_type': 'TOP', 'move_position': [4, 1, 4], 'id': 5002, 'class': 'hero'}
{'action_type': 'TOP', 'move_position': [4, 1, 5], 'id': 5002, 'class': 'hero'}
{'action_type': 'TOP', 'move_position': [4, 1, 6], 'id': 5002, 'class': 'hero'}
{'action_type': 'TOP', 'move_position': [4, 1, 7], 'id': 5002, 'class': 'hero'}
{'action_type': 'LEFT', 'move_position': [3, 1, 7], 'id': 5002, 'class': 'hero'}
{'action_type': 'TOP', 'move_position': [6, 1, 5], 'id': 18714666, 'class': 'monster'}
{'action_type': 'TOP', 'move_position': [6, 1, 6], 'id': 18714666, 'class': 'monster'}
{'action_type': 'TOP', 'move_position': [6, 1, 7], 'id': 18714666, 'class': 'monster'}
{'action_type': 'SKILL_86', 'atk_range': [[3, 1, 7]], 'atk_position': [3, 1, 7], 'release_range': [[3, 1, 7], [4, 1, 6], [4, 1, 8], [5, 1, 5], [5, 1, 9], [6, 1, 4], [6, 1, 10], [7, 1, 5], [7, 1, 9], [8, 1, 6], [8, 1, 8], [9, 1, 7]], 'damage': [[['hero', 5002], [114.1], [114.1], ['EQU']]], 'id': 18714666, 'class': 'monster'}
{'action_type': 'TOP', 'move_position': [6, 1, 8], 'id': 18714666, 'class': 'monster'}
{'action_type': 'LEFT', 'move_position': [5, 1, 8], 'id': 18714666, 'class': 'monster'}
{'action_type': 'SKILL_86', 'atk_range': [[3, 1, 7]], 'atk_position': [3, 1, 7], 'release_range': [[3, 1, 7], [3, 1, 9], [4, 1, 6], [4, 1, 10], [5, 1, 5], [5, 1, 11], [6, 1, 6], [6, 1, 10], [7, 1, 7], [7, 1, 9], [8, 1, 8]], 'damage': [[['hero', 5002], [114.1], [114.1], ['EQU']]], 'id': 18714666, 'class': 'monster'}
{'action_type': 'BOTTOM', 'move_position': [3, 1, 6], 'id': 5002, 'class': 'hero'}
{'action_type': 'BOTTOM', 'move_position': [3, 1, 5], 'id': 5002, 'class': 'hero'}
{'action_type': 'BOTTOM', 'move_position': [3, 1, 4], 'id': 5002, 'class': 'hero'}
{'action_type': 'BOTTOM', 'move_position': [3, 1, 3], 'id': 5002, 'class': 'hero'}
{'action_type': 'BOTTOM', 'move_position': [3, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'WAIT', 'id': 18714666, 'class': 'monster'}
{'action_type': 'WAIT', 'id': 18714666, 'class': 'monster'}
{'action_type': 'RIGHT', 'move_position': [4, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [5, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [6, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [7, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [8, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'WAIT', 'id': 18714666, 'class': 'monster'}
{'action_type': 'RIGHT', 'move_position': [9, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [10, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [11, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [12, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [13, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'WAIT', 'id': 18714666, 'class': 'monster'}
{'action_type': 'WAIT', 'id': 18714666, 'class': 'monster'}
{'action_type': 'TOP', 'move_position': [13, 1, 3], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [14, 1, 3], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [15, 1, 3], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [16, 1, 3], 'id': 5002, 'class': 'hero'}
{'action_type': 'BOTTOM', 'move_position': [16, 1, 2], 'id': 5002, 'class': 'hero'}
{'action_type': 'WAIT', 'id': 18714666, 'class': 'monster'}
{'action_type': 'WAIT', 'id': 18714666, 'class': 'monster'}
{'action_type': 'TOP', 'move_position': [16, 1, 3], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [17, 1, 3], 'id': 5002, 'class': 'hero'}
{'action_type': 'RIGHT', 'move_position': [18, 1, 3], 'id': 5002, 'class': 'hero'}